#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0rem;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5rem;
}

.card {
	padding: 1em;
	border: 1px solid var(--melon);
	border-radius: 1rem;
	max-width: 90dvw;
}

.main.card {
	max-width: min(800px, 90dvw);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card.input-flex {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.card.input-flex label {
	display: flex;
	width: 95%;
	justify-content: space-between;
	gap: 0.25rem;
}

.card .cv-body {
	background-color: white;
	padding: 1rem;
}

.cv-body .contact-info {
	width: 40%;
}

.cv-body div h2 {
	color: black;
	text-align: start;
}

.cv-body div p {
	color: black;
	margin: 0;
	text-align: start;
}

.name {
	font-size: 2rem;
	font-weight: 500;
}
